html,body {
}

.vue-component-container {
  //background-color: #fff;
  //color: #222222;
  position: relative;
  padding: 20px;
  border-radius: 3px;
}

pre,
code {
  font-size: 14px !important; /* 将这里的数值替换为你希望的字体大小 */
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}